<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <script defer src="../../../public/js/index.js"></script>
    <title>Cadastro</title>
</head>
<body>
    <div class="cadastro">
        <div class="left">
            <h1>Junte-se a nós Nessa grande aventura</h1>
            <img src="cadastro/banner-cadastro.png" width="70%" alt="">
        </div>
        <div class="right">
            <form id="formcadastro" >
                <h1>Cadastro</h1>
                <div class="box1">
                    <h4>Primeiro nome</h4>
                    <input type="text" required  name="nome" id="pnome" placeholder="Primeiro Nome">
                    
                </div>

                <div class="box1">
                    <h4>Último Nome</h4>
                    <input type="text" required name="" id="snome" placeholder="Último Nome">
                </div>

                <div class="box1">
                    <h4>E-mail</h4>
                    <input type="email" required name="" id="email" placeholder="E-mail">
                    
                </div>

                <div class="box1">
                    <h4>Senha</h4>
                    <input type="password" required name="" id="senha" placeholder="password">

                </div>
                
                <div class="box1">
                    <input type="submit" name="" id="validar" placeholder="cadastrar-se" value="cadastrar-se">
                </div>
            </form>
        </div>
    </div>
    <script src="../../../public/js/validateCadastro.js">
   
    </script>
</body>
</html>