<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <script defer src="../../../public/js/index.js"></script>
    <title>Computer</title>
</head>
<body>
    <div class="container">
        <header>
            
            <h1><a href="../index.html">Osnio Store</a></h1>
            <div class="part">
                <ul>
                    <li> <a href="../index.html"> Home</a></li>
                    <li> <a href="../sobre Nós/index.html"  > About</a></li>
                    <li> <a href="../login/index.html"> Login</a></li>
                    <div class="hh">
                        <li class="tt"><a href="#">Menu</a></li>
                        <div class="yo">
                            <li><a href="index.html">Computador</a></li>
                            <li><a href="../celulares/index.html">Celular</a></li>
                            <li><a href="../car/index.html">Carros</a></li>
                            <li><a href="../impressora/index.html">Impressora</a></li>
                        </div>
                    </div>
                </ul>
            </div>

            <div class="boy"> 
                <div class="yob">
                    <a href="../cadastro/index.html">Cadastro</a>
                </div>
                <div class="cat">
                    <a href="">Cast</a>
                </div>
            </div>
        </header>
        <div class="lee">
            <div class="cong">
                <h4>Premium Product</h4>
                <h1>Veja os melhores computadores </h1>
                <p>
                    Encontre aqui um dos melhores computadores para programar ou não. Temos os mais variados tipos de computador. Basta escolheres o teu.
                </p>

                <!-- <a href="">My Blog</a> -->
            </div>
            <div class="Male">
                <img src="computer/R.png" alt="" width="49%" >
            </div>
        </div>

        <div class="world">
            <div class="sales">
                <div class="priest1">
                    <div class="nurse">
                        <img src="computer/computadores/dell-latitude-5420-2.webp" width="90%" alt="">
                    </div>
                    <div class="teste">
                        <div class="wond">
                            <h5>Dell 5420</h5>
                            <p>$9450.00</p>
                        </div>
                        <p>Um dos melhores modelo da Dell</p>
                        <div class="big">
                            <button>Add to Car</button>
                        </div>
                    </div>
                </div>

                <div class="priest1">
                    <div class="nurse1">
                        <img src="computer/computadores/dell-latitude-5420-3.webp" width="100%" alt="">
                    </div>
                    <div class="teste">
                        <div class="wond">
                            <h5>Dell latitude25</h5>
                            <p>$5450.00</p>
                        </div>
                        <p>Um bateria duravel, SSD de 259GB</p>
                        <div class="big">
                            <button>Add to Car</button>
                        </div>
                    </div>
                </div>

                <div class="priest1">
                    <div class="nurse2">
                        <img src="computer/computadores/HP_COMPUTADOR_ALL-IN-ONE_600_21.5''_I7-10700_FHD_16GB_512GB_SSD_DVD-RW_W11P_SUPORTE_AJUSTAVEL-3.jpg" width="80%" alt="">
                    </div>
                    <div class="teste">
                        <div class="wond">
                            <h5>Comptador Hp</h5>
                            <p>$6045.00</p>
                        </div>
                        <p>Com um desempenho incomparavel</p>
                        <div class="big">
                            <button>Add to Car</button>
                        </div>
                    </div>
                </div>

                <div class="priest1">
                    <div class="nurse1">
                        <img src="computer/computadores/gamer led 21.5.webp" width="80%" alt="">
                    </div>
                    <div class="teste">
                        <div class="wond">
                            <h5>PC gamer led</h5>
                            <p>$74560.00</p>
                        </div>
                        <p>Para quem gosta de jogos.Computador ideal</p>
                        <div class="big">
                            <button>Add to Car</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- sales2 -->
            <div class="sales">
                <div class="priest1">
                    <div class="nurse">
                        <img src="computer/computadores/Hewlett Packard 15-ay010nr Intel Pentium N3710 4GB DDR3L 15.6 Notebook.webp" width="100%" alt="">
                    </div>
                    <div class="teste">
                        <div class="wond">
                            <h5>Hewlett Packard</h5>
                            <p>$5670.00</p>
                        </div>
                        <p>Computador para trabalhos simples.</p>
                        <div class="big">
                            <button>Add to Car</button>
                        </div>
                    </div>
                </div>

                <div class="priest1">
                    <div class="nurse1">
                        <img src="computer/computadores/HP_COMPUTADOR_ALL-IN-ONE_600_21.5''_I7-10700_FHD_16GB_512GB_SSD_DVD-RW_W11P_SUPORTE_AJUSTAVEL-3.jpg" width="80%" alt="">
                    </div>
                    <div class="teste">
                        <div class="wond">
                            <h5>HP ALL_In-One</h5>
                            <p>$780.00</p>
                        </div>
                        <p>Para quem gosta de diversão</p>
                        <div class="big">
                            <button>Add to Car</button>
                        </div>
                    </div>
                </div>

                <div class="priest1">
                    <div class="nurse2">
                        <img src="computer/computadores/manutencao-computadores-executada-pela-computer-solucoes-ti.png" width="80%" alt="">
                    </div>
                    <div class="teste">
                        <div class="wond">
                            <h5>Hp 25</h5>
                            <p>$5670.00</p>
                        </div>
                        <p>Um modelo mais antigo, mas da actualidade.</p>
                        <div class="big">
                            <button>Add to Car</button>
                        </div>
                    </div>
                </div>

                <div class="priest1">
                    <div class="nurse1">
                        <img src="computer/computadores/pc gamer 1650 4Gb intel i5 11400F, GTx.jpg" width="70%" alt="">
                    </div>
                    <div class="teste">
                        <div class="wond">
                            <h5>pc gamer 1650 4Gb</h5>
                            <p>$780.00</p>
                        </div>
                        <p>Aproveite os melhores pc da actualidade</p>
                        <div class="big">
                            <button>Add to Car</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- sales3 -->
            <div class="sales">
                <div class="priest1">
                    <div class="nurse">
                        <img src="computer/computadores/S50.jpg" width="100%" alt="">
                    </div>
                    <div class="teste">
                        <div class="wond">
                            <h5>Dell 5468</h5>
                            <p>$6780.00</p>
                        </div>
                        <p>Não exite pc podre, só estás com o pc errado.</p>
                        <div class="big">
                            <button>Add to Car</button>
                        </div>
                    </div>
                </div>

                <div class="priest1">
                    <div class="nurse1">
                        <img src="computer/computadores/dell-latitude-5420-3.webp" width="90%" alt="">
                    </div>
                    <div class="teste">
                        <div class="wond">
                            <h5>dell-latitude-5420</h5>
                            <p>$9870.00</p>
                        </div>
                        <p>Com uma velocidade incrivel e memória de 8GB </p>
                        <div class="big">
                            <button>Add to Car</button>
                        </div>
                    </div>
                </div>

                <div class="priest1">
                    <div class="nurse2">
                        <img src="computer/computadores/Hewlett Packard 15-ay010nr Intel Pentium N3710 4GB DDR3L 15.6 Notebook.webp" width="80%" alt="">
                    </div>
                    <div class="teste">
                        <div class="wond">
                            <h5>Pc Hewlett</h5>
                            <p>$6780.00</p>
                        </div>
                        <p>Um modelo recente de pc da actualidade.</p>
                        <div class="big">
                            <button>Add to Car</button>
                        </div>
                    </div>
                </div>

            <div class="priest1">
                <div class="nurse1">
                    <img src="computer/computadores/manutencao-computadores-executada-pela-computer-solucoes-ti.png" width="80%" alt="">
                </div>
                <div class="teste">
                    <div class="wond">
                        <h5>Toshiba</h5>
                        <p>$560.00</p>
                    </div>
                    <p>Com uma durabilidade fora do normal</p>
                    <div class="big">
                        <button>Add to Car</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="noise">
            <a href="../index.html">Voltar a pagina inicial</a>
        </div>
        <div id="carIcon">
            <img src="../computer/computer/carrinho2.png"  alt="">
        </div>
    </div>
</body>
</html>