<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <title>Login</title>
</head>
<body>
    <div class="cadastro">
        <div class="left">
            <h1>Junte-se a nós Nessa grande aventura</h1>
            <img src="login/banner-cadastro.png" width="70%" alt="">
        </div>
        <div class="right">
            <form id="formlogin" action="../index.html">
                <h1>Login</h1>
                <div class="box1">
                    <h4>E-mail</h4>
                    <input type="email"required  name="" id="email" placeholder="E-mail">
                </div>
                <div class="box1">
                    <h4>Senha</h4>
                    <input type="password" required name="" id="senha" placeholder="password">
                </div>
                <div class="box1">
                    <input type="submit" required name="" id="send" placeholder="cadastrar-se" value="entrar">
                </div>
            </form>
        </div>
    </div>
    <script src="../../../public/js/valiadateLogin.js"></script>
</body>
</html>