<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <script defer src="../../../public/js/index.js"></script>
    <title>Impressoras</title>
</head>
<body>
    <div class="container">
        <header>
        
            <h1><a href="../index.html">Osnio Store</a></h1>
            <div class="part">
                <ul>
                    <li> <a href="../index.html"> Home</a></li>
                    <li> <a href="../sobre Nós/index.html" > About</a></li>
                    <li> <a href="../login/index.html"> Login</a></li>
                    <div class="hh">
                        <li class="tt"><a href="#">Menu</a></li>
                        <div class="yo">
                            <li><a href="../computer/index.html">Computador</a></li>
                            <li><a href="../celulares/index.html">Celular</a></li>
                            <li><a href="../car/index.html">Carros</a></li>
                            <li><a href="index.html">Impressoras</a></li>
                        </div>
                    </div>
                </ul>
            </div>
            <div class="boy"> 
                <div class="yob">
                    <a href="../cadastro/index.html">Cadastro</a>
                </div>
                <div class="cat">
                    <a href="">Cast</a>
                </div>
            </div>
        </header>
        <div class="lee">
            <div class="cong">
                <h4>Premium Product</h4>
                <h1>Compre aqui as melhores impressoras </h1>
                <p>
                    Nós temos os mais variados tipos de impressoras. Temos impressoras Para uso pessoal ou empresarial.
                </p>

            </div>
            <div class="Male">
                <img src="img/happy0.png" alt="" width="89%" >
            </div>
        </div>

        <div class="world">
            <div class="sales">
                <div class="priest1">
                    <div class="nurse">
                        <img src="img/impressoras/Impressora 3D.webp" width="70%" alt="">
                    </div>
                    <div class="teste">
                        <div class="wond">
                            <h5>Impressora 3D</h5>
                            <p>$340.00</p>
                        </div>
                        <p>Com um DPI de 1250 e uma boa velocidade</p>
                        <div class="big">
                            <button>Add to Car</button>
                        </div>
                    </div>
                </div>

                <div class="priest1">
                    <div class="nurse1">
                        <img src="img/impressoras/Impressora de Grande Formato.jpeg" width="80%" alt="">
                    </div>
                    <div class="teste">
                        <div class="wond">
                            <h5>Impressora grande</h5>
                            <p>$560.00</p>
                        </div>
                        <p>Com um DPI de 1245 e um PPM de 15</p>
                        <div class="big">
                            <button>Add to Car</button>
                        </div>
                    </div>
                </div>

                <div class="priest1">
                    <div class="nurse2">
                        <img src="img/impressoras/Impressora Jato de Tinta.jpeg" width="80%" alt="">
                    </div>
                    <div class="teste">
                        <div class="wond">
                            <h5>Jato de Tinta</h5>
                            <p>$4560.00</p>
                        </div>
                        <p>Com um DPI de 1240 e um PPM de 20 </p>
                        <div class="big">
                            <button>Add to Car</button>
                        </div>
                    </div>
                </div>

                <div class="priest1">
                    <div class="nurse1">
                        <img src="img/impressoras/impressora laser.jpg" width="68%" alt="">
                    </div>
                    <div class="teste">
                        <div class="wond">
                            <h5>impressora laser</h5>
                            <p>$7430.00</p>
                        </div>
                        <p>Com um DPI de 1235 e um PPM de 25</p>
                        <div class="big">
                            <button>Add to Car</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- sales2 -->
            <div class="sales">
                <div class="priest1">
                    <div class="nurse">
                        <img src="img/impressoras/Impressora Matricial.jpeg" width="89%" alt="">
                    </div>
                    <div class="teste">
                        <div class="wond">
                            <h5>Matricial</h5>
                            <p>$9450.00</p>
                        </div>
                        <p>Com um DPI de 1230 e um PPM de 30</p>
                        <div class="big">
                            <button>Add to Car</button>
                        </div>
                    </div>
                </div>

                <div class="priest1">
                    <div class="nurse1">
                        <img src="img/impressoras/impressora matricial1.jpeg" width="90%" alt="">
                    </div>
                    <div class="teste">
                        <div class="wond">
                            <h5>Matricial 050</h5>
                            <p>$5456.00</p>
                        </div>
                        <p>Com um DPI de 1225 e um PPM de 35</p>
                        <div class="big">
                            <button>Add to Car</button>
                        </div>
                    </div>
                </div>

                <div class="priest1">
                    <div class="nurse2">
                        <img src="img/impressoras/impressora termica.jpeg" width="90%" alt="">
                    </div>
                    <div class="teste">
                        <div class="wond">
                            <h5>Impressora térmica</h5>
                            <p>$560.00</p>
                        </div>
                        <p>Com um DPI de 120 e um PPM de 5</p>
                        <div class="big">
                            <button>Add to Car</button>
                        </div>
                    </div>
                </div>

                <div class="priest1">
                    <div class="nurse1">
                        <img src="img/impressoras/Impressoras a Laser.jpg" width="70%" alt="">
                    </div>
                    <div class="teste">
                        <div class="wond">
                            <h5>Impressora laser</h5>
                            <p>$670.00</p>
                        </div>
                        <p>Com um DPI de 1250 e um PPM de 40</p>
                        <div class="big">
                            <button>Add to Car</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- sales3 -->
            <div class="sales">
                <div class="priest1">
                    <div class="nurse">
                        <img src="img/impressoras/Impressoras Jato de Tinta.jpeg" width="85%" alt="">
                    </div>
                    <div class="teste">
                        <div class="wond">
                            <h5>Tanque de tinta</h5>
                            <p>$7890.00</p>
                        </div>
                        <p>Com um DPI de 1200 e um PPM de 10</p>
                        <div class="big">
                            <button>Add to Car</button>
                        </div>
                    </div>
                </div>

                <div class="priest1">
                    <div class="nurse1">
                        <img src="img/impressoras/Impressoras Multifuncionais.jpeg" width="70%" alt="">
                    </div>
                    <div class="teste">
                        <div class="wond">
                            <h5>Multifuncional</h5>
                            <p>$567.00</p>
                        </div>
                        <p>Com um DPI de 1250 e um PPM de 45</p>
                        <div class="big">
                            <button>Add to Car</button>
                        </div>
                    </div>
                </div>

                <div class="priest1">
                    <div class="nurse2">
                        <img src="img/impressoras/Impressoras Tanque de Tinta.jpg" width="90%" alt="">
                    </div>
                    <div class="teste">
                        <div class="wond">
                            <h5>Tanque de tinta 024</h5>
                            <p>$6560.00</p>
                        </div>
                        <p>Com um DPI de 1230 e um PPM de 15</p>
                        <div class="big">
                            <button>Add to Car</button>
                        </div>
                    </div>
                </div>

            <div class="priest1">
                <div class="nurse1">
                    <img src="img/impressoras/Impressora 3D.jpeg" width="90%" alt="">
                </div>
                <div class="teste">
                    <div class="wond">
                        <h5>Impressora 3D </h5>
                        <p>$8567.00</p>
                    </div>
                    <p>Com um DPI de 2400 e uma velocidade de incrivel.</p>
                    <div class="big">
                        <button>Add to Car</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="noise">
            <a href="../index.html">Voltar a pagina inicial</a>
        </div>
        <div id="carIcon">
            <img src="img/carrinho2.png"  alt="">
        </div>
    </div>
    
</body>
</html>