<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <script defer src="../../../public/js/index.js"></script>
    <title>Car</title>
</head>
<body>
    <div class="container">
        <header>
            <!-- <img src="src/assets/icons/bxl-html5.svg" alt="" width="50px"> -->
            <h1><a href="../index.html">Osnio Store</a></h1>
            <div class="part">
                <ul>
                    <li> <a href="../index.html"> Home</a></li>
                    <li> <a href="../sobre Nós/index.html" > About</a></li>
                    <li> <a href="../login/index.html"> Login</a></li>
                    <div class="hh">
                        <li class="tt"><a href="#">Menu</a></li>
                        <div class="yo">
                            <li><a href="../computer/index.html">Computador</a></li>
                            <li><a href="../celulares/index.html">Celular</a></li>
                            <li><a href="index.html">Carros</a></li>
                            <li><a href="../impressora/index.html">impressora</a></li>
                        </div>
                    </div>
                </ul>
            </div>
        
            <div class="boy"> 
                <div class="yob">
                    <a href="../cadastro/index.html">Cadastro</a>
                </div>
                <div class="cat">
                    
                    <a href="">Cast</a>
                </div>
            </div>
        </header>
        <div class="lee">
            <div class="cong">
                <h4>Premium Product</h4>
                <h1>Venha já comprar o teu carro</h1>
                <p>
                    Não perca essa grande oportunidade de realizares o teu sonho de teres o teu prório carro. 
                    Nós temos os mais variados modelos.
                </p>

                <!-- <a href="">My Blog</a> -->
            </div>
            <div class="Male">
                <img src="carros/black-man-with-wondered-surprised-2761196.jpg" alt="" width="100%" >
            </div>
        </div>

        <div class="world">
            <div class="sales">
                <div class="priest1">
                    <div class="nurse">
                        <img src="carros/carros/carros-economicos-1.jpeg" width="100%" alt="">
                    </div>
                    <div class="teste">
                        <div class="wond">
                            <h5>0 km</h5>
                            <p>$87595.00</p>
                        </div>
                        <p>O melhor carro para quem gosta de economizar</p>
                        <div class="big">
                            <button>Add to Car</button>
                        </div>
                    </div>
                </div>

                <div class="priest1">
                    <div class="nurse1">
                        <img src="carros/carros/jeep-wagoneer.jpg" width="100%" alt="">
                    </div>
                    <div class="teste">
                        <div class="wond">
                            <h5>jeep-wagoneer</h5>
                            <p>$507453.00</p>
                        </div>
                        <p>Para quem gosta de um bom conforto</p>
                        <div class="big">
                            <button>Add to Car</button>
                        </div>
                    </div>
                </div>

                <div class="priest1">
                    <div class="nurse2">
                        <img src="carros/carros/jeep1_03092020_33871_1280_960.jpg" width="100%" alt="">
                    </div>
                    <div class="teste">
                        <div class="wond">
                            <h5>wagonner x70</h5>
                            <p>$663520.00</p>
                        </div>
                        <p>Aqui o luxo é barato. Basta escolher</p>
                        <div class="big">
                            <button>Add to Car</button>
                        </div>
                    </div>
                </div>

                <div class="priest1">
                    <div class="nurse1">
                        <img src="carros/carros/jetour x70 plus.webp" width="100%" alt="">
                    </div>
                    <div class="teste">
                        <div class="wond">
                            <h5>jetour x50</h5>
                            <p>$70764.00</p>
                        </div>
                        <p>A escolha do modelo de carro, dá elegância </p>
                        <div class="big">
                            <button>Add to Car</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- sales2 -->
            <div class="sales">
                <div class="priest1">
                    <div class="nurse">
                        <img src="carros/carros/jetour-x70.webp" width="100%" alt="">
                    </div>
                    <div class="teste">
                        <div class="wond">
                            <h5>jetour-x28</h5>
                            <p>$9560.00</p>
                        </div>
                        <p>Não exite carro pobre, só não estás com o certo.</p>
                        <div class="big">
                            <button>Add to Car</button>
                        </div>
                    </div>
                </div>

                <div class="priest1">
                    <div class="nurse1">
                        <img src="carros/carros/Lamborghini.webp" width="100%" alt="">
                    </div>
                    <div class="teste">
                        <div class="wond">
                            <h5>Lamborghini</h5>
                            <p>$556980.00</p>
                        </div>
                        <p>Escolha a melhor versão de carro para você</p>
                        <div class="big">
                            <button>Add to Car</button>
                        </div>
                    </div>
                </div>

                <div class="priest1">
                    <div class="nurse2">
                        <img src="carros/carros/jetour-x70.webp" width="100%" alt="">
                    </div>
                    <div class="teste">
                        <div class="wond">
                            <h5>jetour-x60</h5>
                            <p>$60876.00</p>
                        </div>
                        <p>O teu carro, também  te define.</p>
                        <div class="big">
                            <button>Add to Car</button>
                        </div>
                    </div>
                </div>

                <div class="priest1">
                    <div class="nurse1">
                        <img src="carros/carros/luxo.jpg" width="100%" alt="">
                    </div>
                    <div class="teste">
                        <div class="wond">
                            <h5>Lamborghini-x70</h5>
                            <p>$70567.00</p>
                        </div>
                        <p>esse carro é a própria definição de luxo</p>
                        <div class="big">
                            <button>Add to Car</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- sales3 -->
            <div class="sales">
                <div class="priest1">
                    <div class="nurse">
                        <img src="carros/carros/Omoda-1.webp" width="100%" alt="">
                    </div>
                    <div class="teste">
                        <div class="wond">
                            <h5>Omoda-17</h5>
                            <p>$998760.00</p>
                        </div>
                        <p>Escolha agora, não perca tempo</p>
                        <div class="big">
                            <button>Add to Car</button>
                        </div>
                    </div>
                </div>

                <div class="priest1">
                    <div class="nurse1">
                        <img src="carros/carros/R.jpeg" width="100%" alt="">
                    </div>
                    <div class="teste">
                        <div class="wond">
                            <h5> jetour-x40</h5>
                            <p>$556780.00</p>
                        </div>
                        <p>Esse carro é uma autentica poesia</p>
                        <div class="big">
                            <button>Add to Car</button>
                        </div>
                    </div>
                </div>

                <div class="priest1">
                    <div class="nurse2">
                        <img src="carros/carros/luxo extremo.jpeg" width="100%" alt="">
                    </div>
                    <div class="teste">
                        <div class="wond">
                            <h5>wagonner-0</h5>
                            <p>$607654.00</p>
                        </div>
                        <p>Esse carro é a própria definição de realeza</p>
                        <div class="big">
                            <button>Add to Car</button>
                        </div>
                    </div>
                </div>

            <div class="priest1">
                <div class="nurse1">
                    <img src="carros/carros/Lamborghini.webp" width="100%" alt="">
                </div>
                <div class="teste">
                    <div class="wond">
                        <h5>Lamborghini</h5>
                        <p>$745670.00</p>
                    </div>
                    <p>O barulho do motor, é uma melodia </p>
                    <div class="big">
                        <button>Add to Car</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="noise">
            <a href="../index.html">Voltar a pagina inicial</a>
        </div>
        <div id="carIcon">
            <img src="../car/carros/carrinho2.png"  alt="">
        </div>
    </div>
</body>
</html>