<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OSNIO STORE</title>
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    
    <script defer src="../../public/js/index.js"></script>
</head>
<body>
    <div class="container">
        <header>
            
            <h1><a href="index.html">Osnio Store</a></h1>
            <div class="part">
                <ul>
                    <li> <a href="index.html"> Home</a></li>
                    <li> <a href="sobre Nós/index.html"> About</a></li>
                    <li> <a href="login/index.html"> Login</a></li>
                    <div class="hh">
                        <li class="tt"><a href="#">Menu</a></li>
                        <div class="yo">
                            <li><a href="computer/index.html">Computador</a></li>
                            <li><a href="celulares/index.html">Celular</a></li>
                            <li><a href="car/index.html">Carros</a></li>
                            <li><a href="impressora/index.html">Impressora</a></li>
                        </div>
                    </div>
                </ul>                
            </div>
            
            <div class="boy"> 
                <div class="yob">
                    
                    <a href="cadastro/index.html">Cadastro</a>
                </div>
                <div class="cat">
                    
                    <a href="">Cast</a>
                </div>
            </div>
        </header>
        <div class="lee">
            <div class="cong">
                <h4>Premium Product</h4>
                <h1>Venha aproveitar as melhores promoções</h1>
                <p>
                À Osnio Store, traz para você os produtos com as melhores qualidades e durabilidade...
                </p>

                <a href="">My Blog</a>
            </div>
            <div class="Male">
                <img src="../../public/assets/img/pessoa2.jpeg" alt="" width="100%" >
            </div>
        </div>
        <div class="present">
            <h1>Nossas principais categorias</h1>
            <div class="go">
                <div class="send">
                    <ul>
                        <div class="choose">
                            <li><button>All Category</button></li>
                            <a href=""><img src="../../public/assets/icons/bxs-chevron-down.svg" width="15px" alt=""></a>
                        </div>
                        <div class="on">
                            <li><button>Employed</button></li>
                            <a href="#"><img src="../../public/assets/icons/bxs-chevron-down.svg" width="15px" alt=""></a>
                        </div>
                        <div class="boss">
                            <li><button>Ambitious</button></li>
                            <a href="#"><img src="../../public/assets/icons/bxs-chevron-down.svg" width="15px" alt=""></a>
                        </div>
                        <div class="born">
                            <li><button>Advertising</button></li>
                            <a href="#"><img src="../../public/assets/icons/bxs-chevron-down.svg" width="15px" alt=""></a>
                        </div>
                        <div class="too">
                            <li><button>important</button></li>
                            <a href="#"><img src="../../public/assets/icons/bxs-chevron-down.svg" width="15px" alt=""></a>
                        </div>
                        <div class="have">
                            <li><button>Focused</button></li>
                            <a href="#"><img src="../../public/assets/icons/bxs-chevron-down.svg" width="15px" alt=""></a>
                        </div>
                        <div class="good">
                            <li><button>Attendant</button></li>
                            <a href="#"><img src="../../public/assets/icons/bxs-chevron-down.svg" width="15px" alt=""></a>
                        </div>
                    </ul>
                </div>
                <div class="food">
                    <div class="baby">
                        <button>fire</button>
                        <a href="#"><img src="../../public/assets/icons/bxs-chevron-down.svg" width="15px" alt=""></a>
                    </div>
                </div>
            </div>
        </div>    
        <div class="world">
            <div class="sales">
                <div class="priest1">
                    <div class="nurse">
                        <img src="../../public/assets/img/airpodes max.jpg" width="90%" alt="">
                    </div>
                    <div class="teste">
                        <div class="wond">
                            <h5>Airpods Max</h5>
                            <p>$90.00</p>
                        </div>
                        <p>Um dos últimos modelo venha aproveitar</p>
                        <div class="big">
                            <button>Add to Car</button>
                        </div>
                    </div>
                </div>

                <div class="priest1">
                    <div class="nurse1">
                        <img src="../../public/assets/img/smart apolcer.jpg" width="100%" alt="">
                    </div>
                    <div class="teste">
                        <div class="wond">
                            <h5>cafeteira</h5>
                            <p>$50.00</p>
                        </div>
                        <p>Com uma qualidade incrivel</p>
                        <div class="big">
                            <button>Add to Car</button>
                        </div>
                    </div>
                </div>

                <div class="priest1">
                    <div class="nurse2">
                        <img src="../../public/assets/img/airpodes.jpeg" width="80%" alt="">
                    </div>
                    <div class="teste">
                        <div class="wond">
                            <h5>auriculares sem  fio </h5>
                            <p>$60.00</p>
                        </div>
                        <p>Oferece um  conforto maravilhoso </p>
                        <div class="big">
                            <button>Add to Car</button>
                        </div>
                    </div>
                </div>

                <div class="priest1">
                    <div class="nurse1">
                        <img src="../../public/assets/img/airpodes black.jpeg" width="100%" alt="">
                    </div>
                    <div class="teste">
                        <div class="wond">
                            <h5>auriculares black</h5>
                            <p>$70.00</p>
                        </div>
                        <p>Melhor nitidez e formalidade </p>
                        <div class="big">
                            <button>Add to Car</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- sales2 -->
            <div class="sales">
                <div class="priest1">
                    <div class="nurse">
                        <img src="../../public/assets/img/airpodes max.jpg" width="100%" alt="">
                    </div>
                    <div class="teste">
                        <div class="wond">
                            <h5>Airpods Max</h5>
                            <p>$90.00</p>
                        </div>
                        <p>Um dos últimos modelo venha aproveitar</p>
                        <div class="big">
                            <button>Add to Car</button>
                        </div>
                    </div>
                </div>

                <div class="priest1">
                    <div class="nurse1">
                        <img src="../../public/assets/img/smart apolcer.jpg" width="100%" alt="">
                    </div>
                    <div class="teste">
                        <div class="wond">
                            <h5>Cafeteira</h5>
                            <p>$50.00</p>
                        </div>
                        <p>Com uma qualidade incrivel e melhorada</p>
                        <div class="big">
                            <button>Add to Car</button>
                        </div>
                    </div>
                </div>

                <div class="priest1">
                    <div class="nurse2">
                        <img src="../../public/assets/img/airpodes.jpeg" width="80%" alt="">
                    </div>
                    <div class="teste">
                        <div class="wond">
                            <h5>Auriculres sem fio</h5>
                            <p>$60.00</p>
                        </div>
                        <p>Oferece mais conforto incomparavel</p>
                        <div class="big">
                            <button>Add to Car</button>
                        </div>
                    </div>
                </div>

                <div class="priest1">
                    <div class="nurse1">
                        <img src="../../public/assets/img/airpodes black.jpeg" width="100%" alt="">
                    </div>
                    <div class="teste">
                        <div class="wond">
                            <h5>Auriculres black</h5>
                            <p>$70.00</p>
                        </div>
                        <p>Melhor nitidez e formalidade</p>
                        <div class="big">
                            <button>Add to Car</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- sales3 -->
            <div class="sales">
                <div class="priest1">
                    <div class="nurse">
                        <img src="../../public/assets/img/airpodes max.jpg" width="100%" alt="">
                    </div>
                    <div class="teste">
                        <div class="wond">
                            <h5>Airpods Max</h5>
                            <p>$90.00</p>
                        </div>
                        <p>Um dos últimos modelos venha aprovitar</p>
                        <div class="big">
                            <button>Add to Car</button>
                        </div>
                    </div>
                </div>

                <div class="priest1">
                    <div class="nurse1">
                        <img src="../../public/assets/img/smart apolcer.jpg" width="100%" alt="">
                    </div>
                    <div class="teste">
                        <div class="wond">
                            <h5>Cafeteira</h5>
                            <p>$50.00</p>
                        </div>
                        <p>incrível e melhorada, só na Osnio Store</p>
                        <div class="big">
                            <button>Add to Car</button>
                        </div>
                    </div>
                </div>

                <div class="priest1">
                    <div class="nurse2">
                        <img src="../../public/assets/img/airpodes.jpeg" width="80%" alt="">
                    </div>
                    <div class="teste">
                        <div class="wond">
                            <h5>auriculares sem fio</h5>
                            <p>$60.00</p>
                        </div>
                        <p>Oferece mais conforto que só a Osnio Store dar</p>
                        <div class="big">
                            <button>Add to Car</button>
                        </div>
                    </div>
                </div>

            <div class="priest1">
                <div class="nurse1">
                    <img src="../../public/assets/img/airpodes black.jpeg" width="100%" alt="">
                </div>
                <div class="teste">
                    <div class="wond">
                        <h5>Auriculares black</h5>
                        <p>$70.00</p>
                    </div>
                    <p>Melhor nitidez e formalidade</p>
                    <div class="big">
                        <button>Add to Car</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="noise">
            <a href="#">Show more</a>
        </div>
    </div>
   
    <div class="ins">
        <div class="well">
            <h1>Últimas ofertas</h1>
            <div class="men">
                <p>Ver tudo</p>
                <a href="#"><img src="../../public/assets/icons/bx-chevron-right.svg" width="20px" alt=""></a>
            </div>
        </div>
    </div>
    <div class="our">
        <div class="type">
            <div class="is">
                <img src="../../public/assets/img/apple charger.jpeg" width="98%" alt="">
                <h6>30%Off</h6>
            </div>
            <div class="be">
                <h3>Carregador para Iphone</h3>
                <P>Carregamento rápido e seguro.</P>
                <div class="not">
                    <h4>$2358.00</h4>
                    <h6>$166.40</h6>
                </div>
            </div>
        </div>
        <!-- Type2 -->
        <div class="type1">
            <div class="is1">
                <img src="../../public/assets/img/iphone 12.jpeg" width="84%" alt="">
                <h6>30%Off</h6>
            </div>
            <div class="be">
                <h3>Iphone 12 Pro Max</h3>
                <P>Não perca esse grande oportunidade de teres o teu pórprio smartphone </P>
                <div class="not">
                    <h4>$2345.00</h4>
                    <h6>$123.22</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="fat">
        <div class="below">
            <div class="loud">
                <h1>Super desconto para sua primeira compra</h1>
                <P>Faça já a sua primeiro compra para poder aproveitar</P>
            </div>
            <div class="van">
                <h3>Free234mac</h3>
            </div>
        </div>
    </div>
    <div class="ins">
        <div class="well">
            <h1>Mais vendidos</h1>
            <div class="men">
                <p>Ver tudo</p>
                <a href="#"><img src="../../public/assets/icons/bx-chevron-right.svg" width="20px" alt=""></a>
            </div>
        </div>
    </div>
    <div class="wait">
        <div class="son">
            <div class="uncle">
                <div class="word">
                    <h3>Compre o novo e mais recente Iphone 12pro</h3>
                    <P>Estás a espera de quê? Compre já o seu smartphone</P>
                    <div class="stay">
                        <button>compre já</button>
                    </div>
                </div>
                <div class="fire">
                    <img src="../../public/assets/img/iphone 12copy.jpeg" width="100%" alt=""></div>
            </div>
            <div class="strong">
                <div class="if1">
                    <img src="../../public/assets/img/airpodes black.jpeg" width="100%"  alt="">
                </div>
                <div class="katy">
                    <div class="things">
                         <h3>Auriculares black</h3>
                         <p>$234.00</p>
                    </div>
                    <div class="year">
                        <P>Quem não quer ouvir uma boa música?</P>
                        <div class="alan">
                            <button>Add to car</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- strong2 -->
            <div class="strong">
                <div class="if">
                    <img src="../../public/assets/img/auriculares g.jpeg" width="76%" alt="">
                </div>
                <div class="katy1">
                    <div class="things">
                         <h3>Bose Noise</h3>
                         <p>$432.00</p>
                    </div>
                    <div class="year">
                        <P>Não perca mais tempo, compre agora</P>
                        <div class="alan">
                            <button>Add to car</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- strong3 -->
            <div class="strong">
                <div class="if">
                    <img src="../../public/assets/img/apple watch.jpeg" width="75%" alt="">
                </div>
                <div class="katy1">
                    <div class="things">
                         <h3>Relógio</h3>
                         <p>$234.00</p>
                    </div>
                    <div class="year">
                        <P>Com esse relógio, você pode parar o tempo.</P>
                        <div class="alan">
                            <button>Add to car</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ins">
        <div class="well">
            <h1>Serviços para ajudar você nas suas compras</h1>
        </div>
    </div>
    <div class="party">
        <div class="future">
            <div class="like">
                <img src="../../public/assets/img/samsung-transparante-smartphone.webp" width="100.5%" alt="">
                <div class="abroad">
                    <h3>As perguntas mais frequentes</h3>
                    <P>Como é possível que os produtos sejam tão baratos?</P>
                </div>
            </div>
            <div class="like">
                <img src="../../public/assets/img/apple charger.jpeg" width="91.9%" alt="">
                <div class="abroad">
                    <h3>Quem é o vosso público alvo? </h3>
                    <P>Todos aqueles amantes de um bom acessório</P>
                </div>
            </div>
            <div class="like">
                <img src="../../public/assets/img/canon eos.jpeg" width="100.9%" alt="">
                <div class="abroad">
                    <h3>Vocês já cometeram erros?</h3>
                    <P>Como qualquer empresa. Mas nunca os mesmos erros</P>
                </div>
            </div>
        </div>
    </div>
    
    <footer>
        <div class="nigga">
            <a href="https://web.whatsapp.com/" target="_blank">
                <img src="src/assets/icons/bxl-whatsapp.svg" alt="">
                <p>+244-929230048</p>
            </a>
        </div>
        <p>Get 56% on Selection | Shop New</p>
        <div class="mal">
            <div class="racis">
                <p>Eng</p>
                <img src="src/assets/icons/bxs-chevron-down.svg" width="15px" alt="">
            </div>
            <div class="racis">
                <p>Localization</p>
                <img src="src/assets/icons/bxs-chevron-down.svg" width="15px" alt="">
            </div>
        </div>
    </footer>
    <div id="carIcon">
        <img src="../../public/assets/img/carrinho2.png"  alt="">
    </div>
    </div>    
</body>
</html>