<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <title>Sobre Nós</title>
</head>
<body>
    <div class="container">
        <header>
            <!-- <img src="src/assets/icons/bxl-html5.svg" alt="" width="50px"> -->
            <h1><a href="../index.html">Osnio Store</a></h1>
            <div class="part">
                <ul>
                    <li> <a href="../index.html"> Home</a></li>
                    <li> <a href="index.html"> About</a></li>
                    <li> <a href="../login/index.html"> Login</a></li>
                    <div class="hh">
                        <li class="tt"><a href="#">Menu</a></li>
                        <div class="yo">
                            <li><a href="../computer/index.html">Computador</a></li>
                            <li><a href="../celulares/index.html">Celular</a></li>
                            <li><a href="../car/index.html">Carros</a></li>
                            <li><a href="../impressora/index.html">impressora</a></li>
                        </div>
                    </div>
                </ul>
            </div>
        
            <div class="boy"> 
                <div class="yob">
                    <a href="../cadastro/index.html">Cadastro</a>
                </div>
                <div class="cat">
                
                    <a href="">Cast</a>
                </div>
            </div>
        </header>
        <div class="lee">
            <div class="cong">
                <h4>Premium Product</h4>
                <h1>Todas as informações sobre a Osnio Store</h1>
                <p>
                    Venha saber tudo e muito mais sobre a nossa loja. Qual é o nosso objetivo e finalidade da nossa página.
                </p>

                <!-- <a href="">My Blog</a> -->
            </div>
            <div class="Male">
                <img src="img/pessoa curiosa.jpeg" alt="" width="80%" >
            </div>
        </div>

        <div class="world">

           <div class="pedras">
               <h2>Sobre a Osnio Store</h2>
               <p>&nbsp;</p>
                <p>
                     A Osnio Store é uma empresa dedicada a fornecer uma ampla variedade
                    de produtos eletrônicos e automotivos de alta qualidade. Fundada em 23 de Abril de 2024,
                    nossa missão é oferecer aos clientes uma experiência de compra conveniente, segura e satisfatória,
                    fornecendo produtos confiáveis e um excelente atendimento ao cliente.
                </p>
                <p>&nbsp;</p>
           </div>

            <div class="pedras">
                <h2>Contato</h2>
                <p>&nbsp;</p>
                <p>
                    Você pode entrar em contato conosco por e-mail em <strong>osnioStore@gmail.com</strong>,
                    por telefone no número <strong>929230048</strong> ou visitando nossa loja física no seguinte endereço:
                    <strong>São Paulo, rua da Brigada</strong>.
                </p>
                <p>&nbsp;</p>
            </div>
            
            <div class="pedras">
                <h2>Política de Privacidade</h2>
                <p>&nbsp;</p>
                <p>
                    Nossa política de privacidade detalha como coletamos, usamos, protegemos e
                    compartilhamos as informações dos nossos clientes. Garantimos a segurança e a confidencialidade de todas as
                    informações fornecidas.
                </p>
                <p>&nbsp;</p>
            </div>

            <div class="pedras">
                <h2>Termos de Serviço</h2>
                <p>&nbsp;</p>
                <p>
                    Ao usar o site da Osnio Store, os clientes concordam com nossos termos de serviço, que
                    estabelecem as regras e regulamentos para o uso do site e a compra de produtos.
                </p>
                <p>&nbsp;</p>
            </div>

            <div class="pedras">
                <h2>Informações sobre Produtos</h2>
                <p>&nbsp;</p>
                <p>
                    Na Osnio Store, oferecemos uma ampla gama de produtos, incluindo carros, telefones, impressoras e computadores.
                    Trabalhamos com marcas confiáveis e garantimos a qualidade de todos os produtos vendidos.
                </p>
                <p>&nbsp;</p>
            </div>
            
            <div class="pedras">
                <h2>Equipe</h2>
                <p>&nbsp;</p>
                <p>
                    Nossa equipe é composta por profissionais dedicados e experientes, comprometidos em fornecer o melhor atendimento
                    ao cliente e garantir a satisfação dos nossos clientes.
                </p>
                <p>&nbsp;</p>
            </div>

            <div class="pedras">
                <h2>Redes Sociais e Links Úteis</h2>
                <p>&nbsp;</p>
                <p>
                    Conecte-se conosco nas redes sociais para ficar por dentro das últimas novidades, promoções e ofertas especiais.
                    Siga-nos no <strong>facebook, instagram e twitter.</strong> com o nome de <strong>OsnioStore</strong> e acesse recursos úteis em nosso site, como manuais de produtos e guias de solução de problemas.
                </p>
                <p>&nbsp;</p>
            </div>
        </div>
        <footer>
            <p><strong>Na Osnio Store, tecnologia e inovação, é nossa paixão e missão!</strong></p>
        </footer>

        
    </div>
</body>
</html>